
body {
    background-color: #FFE6A7;
    color: #6F1D1B;
    margin: 5px;
    padding: 20px;
}

a {
    color: #FFB703;
}

h1, h2 {
    color: #432818;
}

h1 {
    text-align: center;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #BB9457;
}

nav a {
    color: #0077B6;
}

nav a:hover {
    background-color: #99582A;
}


.flexbox-2 {
    display: flex;
    align-items: flex-start;
}

.skills-icons img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}
.skills-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 3;
}

.other-skills {
    background-color: #BB9457;  
    color: #FFE6A7;          
    flex: 1;   
    border-radius: 15px;        
    box-sizing: border-box;
    margin: 10px; 
    padding: 10px;
}
.other-skills h2 {
    margin-top: 0;
    padding-bottom: 10px;
}

.other-skills div {
    padding: 10px;
}